@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
body {

    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    background-image: url(../Imágenes/salud2.png);
    background-position: center center;
    background-size: cover;
    height: 80vh;
    min-height: 300px;
    margin-top: 0%;
    color: white;

}


}

h1{
            text-align: center;
     line-height: 0px;
}


h3{
     line-height: 0px;

}

.texto {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: justify;
        font-family: 'Source Code Pro', monospace;
        color: white;
         font-weight: 400;

        }

.fuente{
    text-align: right;
}

}




